<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/nav.css">
    <title>Accueil</title>
</head>
<body>
    <nav>
        <a href="[onshow.cible]" class="logo-container">
            <img src="../assets/logo.png" alt="image logo" class="logo">
        </a>
        <div class="center">
            <a href="[onshow.cible]?route=" class="link">Challenges</a>
            <a href="[onshow.cible]?route=leaderboard" class="link">Classement</a>
        </div>
        <div class="auth">
            <a href="[onshow.cible]?route=login" class="auth-link login">Se connecter</a>
            <a href="[onshow.cible]?route=sign" class="auth-link">S'inscrire</a>
        </div>
    </nav>

    <main>
        
    </main>

    <footer>
        <p>© 2024 , All rights reserved, Noureddine BEN SADOK & Nina ....Nom</p>
    </footer>
</body>
</html>