<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge : [title.val;block=html]</title>
</head>
<body>
    <nav>
        <a href="[onshow.cible]?route=logout">Se déconnecter</a>
        <a href="[onshow.cible]?route=profile">Voir mon profil</a>
        <a href="[onshow.cible]?route=all_challenges">Voir les challenges</a>
        <a href="[onshow.cible]?route=leaderboard">Voir le leaderboard</a>
    </nav>

    <div>
        <h1>[title.val;block=div]</h1>
        <p>[description.val;block=div]</p>
        <p>Points à gagner : [points.val;block=div]</p>
        <p>Command SSH : [SSH.val;block=div]</p>
        <p>Solution : [solution.val;block=div]</p>
        <a href="[onshow.cible]?route=modif_chall?id=[id.val;block=div]">Modifier le challenge</a>
    </div>
</body>
</html>