<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
</head>
<body>
    <header>
        <nav>
            <a href="[onshow.cible]?route=logout">Se déconnecter</a>
            <a href="[onshow.cible]?route=profile">Voir mon profil</a>
            <a href="[onshow.cible]?route=all_challenges">Voir les challenges</a>
            <a href="[onshow.cible]?route=leaderboard">Voir le leaderboard</a>
        </nav>
    </header>
    <main>
        <h1>Challenges</h1>
        <div>
            <a href="[onshow.cible]?route=challenge&id=[id.val;block=div]" class="lien-challenge">
                <h2>[title.val;block=div]</h2>
                <p>[type.val;block=div]</p>
                <p>[difficulty.val;block=div]</p>
                <p>[valide.val;block=div]</p>
            </a>
        </div>
    </main>
</body>
</html>