<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge : [title.val;block=html]</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>        
        <a href="[onshow.cible]?route=logout">Se déconnecter</a>
        <a href="[onshow.cible]?route=profile">Voir mon profil</a>
        <a href="[onshow.cible]?route=all_challenges">Voir les challenges</a>
        <a href="[onshow.cible]?route=leaderboard">Voir le leaderboard</a>
    </nav>

    <a href="[onshow.cible]?route=all_challenges">Retour</a>
    <h1>[title.val;block=body]</h1>
    <p>[description.val;block=body]</p>
    <p>Points à gagner : [points.val;block=body]</p>
    <p>Command SSH : [SSH.val;block=body]</p>
    <form action="[onshow.cible]" method="get">
        <input type="hidden" name="route" value="challenge_process" id="route">
        <input type="hidden" name="id" value="[id.val;block=body]" id="id">
        <label for="solution">Solution : </label>
        <input type="password" name="solution" id="solution" required>
        <input type="submit" value="Valider">
    </form>
    <p>[valide.val;block=body]</p>
</body>
</html>