<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
</head>
<body>
    <nav></nav>
    <main>
        <h1>Challenges</h1>
        <a href="[onshow.cible]?route=add_challenge">Ajouter</a>
        <div>
            <a href="[onshow.cible]?route=challenge&id=[id.val;block=main]" class="lien-challenge">
                <h2>[title.val;block=div]</h2>
                <p>[type.val;block=div]</p>
                <p>[difficulty.val;block=div]</p>
                <p>[valide.val;block=div]</p>
                <a href="[onshow.cible]?route=remove_challenge&id=[id.val;block=a]">Supprimer</a>
            </a>
        </div>
    </main>
</body>
</html>