<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="[onshow.cible]?route=logout">Se déconnecter</a>
        <a href="[onshow.cible]?route=profile">Voir mon profil</a>
        <a href="[onshow.cible]?route=all_challenges">Voir les challenges</a>
        <a href="[onshow.cible]?route=leaderboard">Voir le leaderboard</a>
    </nav>

    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>[username.val;block=tr]</td>
            <td>[points.val;block=tr]</td>
        </tr>
    </table>
    
</body>
</html>