<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <a href="[onshow.cible]">Page d'accueil</a>
    <form action="[onshow.cible]" method="get">
        <input type="hidden" name="route" value="login_process" id="route">
        <label for="username">Pseudo</label>
        <input type="text" name="username" id="username">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Se connecter">
    </form>
    <a href="[onshow.cible]?route=sign">S'inscrire</a>
</body>
</html>