<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="space-between">
    <header>
        <nav>
            <a href="[onshow.cible]" class="logo-container">
                <img src="../assets/logo.png" alt="image logo" class="logo">
            </a>
            <div class="center gap-2">
                <a href="[onshow.cible]?route=all_challenges" class="link">Challenges</a>
                <a href="[onshow.cible]?route=leaderboard" class="link">Classement</a>
            </div>
            <div class="auth gap-1 full-center">
                <a href="[onshow.cible]?route=profile" class="auth-link">Voir mon profil</a>
                <a href="[onshow.cible]?route=logout" class="auth-link">Se déconnecter</a>
            </div>

        </nav>
        <div class="row full-center space-between" style="width: 80%;">
            <section>
                <h1>Profile</h1>
                <p>Pseudo : [username.val;block=section]</p>
                <p>Email : [email.val;block=section]</p>
                <p>Role : [role.val;block=section]</p>
            </section>
            <section class="space-between full-center column">
                <h2>Ajouter un utilisateur</h2>
                <form action="[onshow.cible]" method="get">
                    <input type="hidden" name="route" value="add_user_process">
                    <input type="text" placeholder="Pseudo" name="username" id="username" required>
                    <input type="email" placeholder="Email" name="email" id="email" required>
                    <input type="password" placeholder="Mot de passe" name="password" id="password" required>
                    <div>
                        <label for="role">Role :</label>
                        <select name="role" id="role">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <input type="submit" value="Ajouter" class="submit">
                </form>
            </section>
        </div>
    </header>

        
    <section class="space-between full-center" >
        <h2>Liste des utilisateurs</h2>
        <table style="width: 100%;">
            <tr>
                <th>Pseudo</th>
                <th>Action</th>
            </tr>
            <tr class="gap-2">
                <td>[usernames.val;block=tr]</td>
                <td><a class="remove delete" href="[onshow.cible]?route=remove_user&username=[usernames.val;block=tr]">Supprimer</a></td>
            </tr>
        </table>
    </section>

    <footer>
        <p>© 2024 , All rights reserved, Noureddine BEN SADOK & Nina DORRY</p>
        <a href="[onshow.cible]?route=contacte">Contacte</a>
    </footer>


</body>
</html>