<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <a href="[onshow.cible]?route=home">Home</a>
        <a href="[onshow.cible]?route=all_challenges">Challenges</a>
        <a href="[onshow.cible]?route=profile">Profile</a>
        <a href="[onshow.cible]?route=logout">Logout</a>
    </nav>

    <main>
        <h1>Profile</h1>
        <p>Pseudo : [username.val;block=main]</p>
        <p>Email : [email.val;block=main]</p>
        <p>Role : [role.val;block=main]</p>
        <p>Points : [score.val;block=main]</p>
    </main>
    <p>Modifier email : </p>
    <form action="[onshow.cible]?route=update_email" method="get">
        <input type="email" name="email" placeholder="Nouvel email">
        <input type="submit" id="email_submit" value="Modifier">
    </form>

    <p>Modifier mot de passe : </p>
    <form action="[onshow.cible]?route=update_password" method="get">
        <input type="password" name="ancient_password" placeholder="Ancien mot de passe">
        <input type="password" name="password" placeholder="Nouveau mot de passe">
        <input type="password" name="password_confirm" placeholder="Confirmer mot de passe">
        <input type="submit" id="password_submit" value="Modifier">
    </form>

    <a href="[onshow.cible]?route=delete_profile">Supprimer</a>

    <footer>
        <p>© 2024, All rights reserved, Noureddine BEN SADOK & Nina DORRY</p>
    </footer>
    
</body>
</html>