<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <nav>
        <a href="[onshow.cible]?route=home">Home</a>
        <a href="[onshow.cible]?route=challenges">Challenges</a>
        <a href="[onshow.cible]?route=profile">Profile</a>
        <a href="[onshow.cible]?route=logout">Logout</a>
    </nav>

    <main>
        <h1>Profile</h1>
        <p>Pseudo : [onshow.username]</p>
        <p>Email : [onshow.email]</p>
        <p>Role : [onshow.role]</p>
    </main>

</body>
</html>