@import './nav.css';

a {
    color: #a4b1cd;
    text-decoration: none;
}

a:hover {
    color: #9fef00;
    transition: all 0.3s;
}

form {
    width: 540px;
    background-color: #1a2332;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

input, select, textarea {
    padding: 20px;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: none;
    background-color: #121926;
    color: #f0f8ff;
    width: 500px;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    a {
        color: white;
    }
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

header ,body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #121926;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 130px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 80px;
    background-color: transparent;
    color: #a4b1cd;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 50px;
}

.logo {
    height: 100px;
    object-fit: contain;
}

.button-active {
    background-color: #9fef00;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.auth-link {
    color: white;
    text-decoration: none;
}

.profil:hover {
    background-color: #c3ff4a;
    color: black;
    transition: all 0.3s;
}

.auth .link {
    color:black;
    text-decoration: none;
    background-color: #68be49;
    padding: 10px 20px;
    border-radius: 5px;
}

.auth .link:hover {
    background-color: #c3ff4a;
    color: black;
    transition: all 0.3s;
}

.login:hover {
    color: #68be49;
    transition: all 0.3s;
}


input:active {
    border: none;
}

.m-30 {
    margin: 30px 0;
}

.sign {
    background-color: #68be49;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}


.sign:hover {
    background-color: #c3ff4a;
    color: black;
    transition: all 0.3s;
}

.login {
    background-color: rgb(26, 35, 50);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}


.space-around {
    justify-content: space-around;
    width: 100%;
}

.back {
    background-color: #f5f5f5;
    color: #121926;
    padding: 15px 0 ;
    border-radius: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.back:hover {
    background-color: #c3ff4a;
    color: black;
    transition: all 0.3s;
}

.submit{
    background-color: #9fef00;
    color: #121926;
    padding: 18px 0px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.and {
    width: 80px;
}

.submit:hover {
    background-color: #c3ff4a;
    transition: all 0.3s;
    color: rgb(18, 25, 38);
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex: 1 1 auto;
}

section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.solution {
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(26, 35, 50);
}

.validation {
    background-color: transparent;
}

.valide {
    color: black;

    background-color:#9fef00;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}

.submit_log{
    background-color: #9fef00;
    color: #121926;
    padding: 20px 0px;
    border-radius: 5px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.modif {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    background-color:#9fef00;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}

.modif:hover{
    color: rgb(18, 25, 38);
    background-color: #c3ff4a;
    transition: all 0.3s;
}


.challenge {
    background-color: rgb(26, 35, 50);
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    div, a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: rgb(164, 177, 205);
    }
    div:hover, a:hover {
        color: rgb(164, 177, 205);
    }
}

.challenge:hover {
    background-color: rgb(38, 46, 63);
    transition: all 0.3s;
    color: rgb(164, 177, 205);
}

.remove {
    padding: 10px;
    color: rgb(164, 177, 205);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.remove:hover {
    transition: all 0.3s;
    color: rgb(228, 81, 81);
}

.remove_profile {
    padding: 10px;
    border-radius: 4px;
    color: rgb(164, 177, 205);
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
}

.remove-.profile:hover {
    transition: all 0.3s;
    color: #9fef00
}

table {
    border-collapse: collapse;
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(26, 35, 50); 
}

th{
    color : #9fef00;
    font-weight: bold;
}
    
#accueil{
    font-size: 40px;
    color: #9fef00;
}

.text{
    text-align: center;
    font-size: 20px;
}

section h1{
    padding-left: 80px;
    color: #9fef00;
    font-size: 30px;
}

#retour{
    text-decoration: underline;
}

section .info{
    padding-left: 30px;
    
}

h3 label{
    margin-left: 10px;
    font-size: 20px;

}

h2{
    padding-left: 20px;
}

h3{
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center; 
    text-align: center;
}

#type{
    width: 450px;
    margin-left: 40px;

}

#difficulty{
    width: 450px;
    margin-left: 15px;

}

h1{
    color: #9fef00;
}

.full-center{
    margin-top: 10px;
}

.not-valide {
    color: rgb(228, 81, 81);
    text-decoration: line-through;
}

.validated {
    color: #9fef00;
}